.php_code_div_white {
    background: white;
    padding:15px;
    margin: 10px;
    border-radius:20px;
}

#xyz_system_notice_area_dismiss{
color: #FFFFFF;
cursor: pointer;
}
.xyz_system_notice_area_style1 {
	background: #00C348;
	border: 1px solid green;
}

.xyz_system_notice_area_style0 {
	background: #FA5A6A;
	border: 1px solid brown;
}


#button {
	width: 140px;
	background-color: #E4E4E4;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

#button:hover {
	border: 1px solid #797979;
}

.xyz_ips_bottonWidth{
	width:120px;
}
#xyz_ips_buttonDesign{
	width:120px;
}

#xyz_ips_bottomBorderNone {
	border-bottom:none;
}

#xyz_ips_submit_ips{
	color: #FFFFFF;
    background-color: #094969;
    border: 1px solid #eee;
    border-radius: 3px;
    cursor: pointer;
    line-height: 23px;
}